body {
	width: 420px;
	min-height: 120px;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.loading .translation-wrapper,
body:not(.loading) #spinner {
	display: none;
}

.loading #spinner {
	display: block;
}

.container {
	padding: 15px;
}

.match-wrapper {
	width: 30px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 5px;
	font-weight: bold;
	position: relative;
}

.content-lang {
	display: inline-block;
}

.content-lang,
.text {
	cursor: initial;
}

.fa-pencil {
	cursor: pointer;
}

#spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translateX(-50%) translateY(-50%);
}